
.search-bar {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 5px 10px;
  color: #333;
  margin-right: 20px;
}
.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #fff;
}
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; min-height: 100%;
  background: rgb(253,29,45);
  background: linear-gradient(90deg, rgba(253,29,45,1) 5%, rgba(91,199,83,1) 50%, rgba(232,232,232,1) 90%); 
}

#main_video {
  opacity: 50%; 
  background:transparent; 
  position: relative; 
  height: 100%; 
  width: 100%;
  object-fit: fill;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

.events {
  display: flex;
  justify-content: space-between;
}
.event {
  width: 30%;
  text-align: center;
  overflow: hidden;
  transition: width 0.5s ease;
}

.event img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.event:hover img {
  transform: scale(1.1);
}

.event:hover {
  width: 40%;
}

.imgHoverEffect figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imgHoverEffect figure:hover img {
    opacity: .5;
}

