.bg-element-primary {
    background-color: #393E46;
}

.bg-element-secondary {
    background-color: #929AAB;
}
.bg-bg-primary{
    background-color: #f7f7f7;
}
.bg-bg-secondary {
    background-color: #EEEEEE;


}